@import 'ui-variables';
@import 'syntax-variables';

@reference-color: fade(@syntax-text-color, 18%);

.hover-overlay-view-container {
  overflow: auto;
  max-height: 300px;
  max-width: min(var(--text-editor-width), 50vw);
}

.hover-overlay-view {
  font-family: @font-family;

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  pre {
    position: relative;
    color: @syntax-text-color;

    .highlight {
      z-index: 0;
      position: absolute;
      background-color: @reference-color;
    }

    // Override the standard behavior for `pre` elements in Pulsar so that
    // lines don't break in the middle of a word.
    word-break: normal;

    // HACK: On the default One Dark/Light themes, there is scarcely any space
    // between a `pre` and its next child because all `pre`s have
    // `margin-bottom` of `0`. This will improve the look of the overlay in
    // cases where documentation follows the code example.
    //
    // This should be temporary until this issue can be addressed in the
    // builtin UI themes.
    & + * {
      margin-top: 0.5rem;
    }
  }
}
