@import 'ui-variables';

.hover-overlay-view-container {
  overflow: auto;
  max-height: 300px;
}

.hover-overlay-view {
  font-family: @font-family;
  max-width: 50vw;
  min-width: 200px;

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  pre {
    // Override the standard behavior for `pre` elements in Pulsar so that
    // lines don't break in the middle of a word.
    word-break: normal;

    // HACK: On the default One Dark/Light themes, there is scarcely any space
    // between a `pre` and its next child because all `pre`s have
    // `margin-bottom` of `0`. This will improve the look of the overlay in
    // cases where documentation follows the code example.
    //
    // This should be temporary until this issue can be addressed in the
    // builtin UI themes.
    & + * {
      margin-top: 0.5rem;
    }
  }

  atom-text-editor {
    // only show scrollbars on hover
    .scrollbars-visible-always & {
      .vertical-scrollbar,
      .horizontal-scrollbar {
        visibility: hidden;
      }
    }
    .scrollbars-visible-always &:hover {
      .vertical-scrollbar,
      .horizontal-scrollbar {
        visibility: visible;
      }
    }
    user-select: auto;
  }

}
